<div class="  row container  p-2  " style="margin-right: auto; margin-left: auto; border-radius:30px; ">
    <h1 class="col-12  text-center m-3 " style="color:#0d6efd"><span class="LetterC" style="font-size:60px; color:#ffd35a; text-decoration:underline">C</span>ategories </h1>
    <div class="col-3 text-center " >
        <img class="img" style="margin-bottom:25px" src="https://png.pngtree.com/png-vector/20220614/ourmid/pngtree-modern-labtop-png-image_5047307.png" />
        <a class="text-center search_text btn whenHover" href="/displayedProducts/Laptop/1" > Labtops</a>
        
    </div>
    <div class="col-3 text-center">
        <img class="img" style="margin-bottom:25px" src="https://png.pngtree.com/element_our/20190601/ourmid/pngtree-golden-mobile-phone-model-psd-transparent-bottom-image_1329284.jpg" />
        <a class="text-center search_text btn whenHover" href="/displayedProducts/Phone/1"> Phones</a>
    </div>
    <div class="col-3 text-center">
        <img class="img" style="margin-bottom:25px" src="https://png.pngtree.com/png-vector/20210424/ourmid/pngtree-pointer-mens-accessories-watch-png-image_3238818.jpg" />
        <a class="text-center search_text btn whenHover" href="/displayedProducts/Watch/1"> Watchs</a>
    </div>
    <div class="col-3 text-center">
        <img class="img " style="margin-bottom:25px" src="https://png.pngtree.com/element_our/20190602/ourmid/pngtree-purple-headphones-decorative-illustration-image_1389424.jpg" />
        <a class="text-center search_text btn whenHover" href="/displayedProducts/Headphone/1"> Headphones</a>
    </div>
</div>

@code {

}
