@using E_CommerceWebApplication.Client.Pages;
@inherits LayoutComponentBase

<div class="page">


    <Home></Home>
    <Category></Category>
    <article class=" " >
        @Body
    </article>
   <Footer></Footer>

</div>
