/* /Pages/Index.razor.rz.scp.css */

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

*[b-z35p30m4lw] {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html[b-z35p30m4lw] {
    scroll-behavior: smooth;
}

body[b-z35p30m4lw] {
    color: #666666;
    font-size: 14px;
    font-family: Roboto;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a[b-z35p30m4lw] {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1[b-z35p30m4lw],
h2[b-z35p30m4lw],
h3[b-z35p30m4lw],
h4[b-z35p30m4lw],
h5[b-z35p30m4lw],
h6[b-z35p30m4lw] {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1[b-z35p30m4lw] {
    font-size: 24px
}

h2[b-z35p30m4lw] {
    font-size: 22px
}

h3[b-z35p30m4lw] {
    font-size: 18px
}

h4[b-z35p30m4lw] {
    font-size: 16px
}

h5[b-z35p30m4lw] {
    font-size: 14px
}

h6[b-z35p30m4lw] {
    font-size: 13px
}

*[b-z35p30m4lw],
*[b-z35p30m4lw]::after,
*[b-z35p30m4lw]::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a[b-z35p30m4lw],
h2 a[b-z35p30m4lw],
h3 a[b-z35p30m4lw],
h4 a[b-z35p30m4lw],
h5 a[b-z35p30m4lw],
h6 a[b-z35p30m4lw] {
    color: #212121;
    text-decoration: none !important;
    opacity: 1
}

button:focus[b-z35p30m4lw] {
    outline: none;
}

ul[b-z35p30m4lw],
li[b-z35p30m4lw],
ol[b-z35p30m4lw] {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p[b-z35p30m4lw] {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a[b-z35p30m4lw] {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a[b-z35p30m4lw],
.btn[b-z35p30m4lw] {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img[b-z35p30m4lw] {
    max-width: 100%;
    height: auto;
}

:focus[b-z35p30m4lw] {
    outline: 0;
}

.paddind_bottom_0[b-z35p30m4lw] {
    padding-bottom: 0 !important;
}

.btn-custom[b-z35p30m4lw] {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead[b-z35p30m4lw] {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus[b-z35p30m4lw] {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input[b-z35p30m4lw] {
    border: none !important;
}

.badge[b-z35p30m4lw] {
    font-weight: 500;
}

blockquote[b-z35p30m4lw] {
    margin: 20px 0 20px;
    padding: 30px;
}

button[b-z35p30m4lw] {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full[b-z35p30m4lw] {
    float: left;
    width: 100%;
}

.layout_padding[b-z35p30m4lw] {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding_0[b-z35p30m4lw] {
    padding: 0px;
}

.logo[b-z35p30m4lw] {
    width: 75%;
    float: left;
}

.header_section[b-z35p30m4lw] {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg-dark[b-z35p30m4lw] {
    background-color: transparent !important;
}

.navbar-dark .navbar-toggler[b-z35p30m4lw] {
    color: #000;
    border-color: transparent !important;
}

.navbar-dark .navbar-toggler-icon[b-z35p30m4lw] {
    background-image: url(../images/toggle-icon.png);
    width: 50px;
}

.navbar-dark .navbar-nav .nav-link[b-z35p30m4lw] {
    color: #fff;
}

.banner_section[b-z35p30m4lw] {
    width: 100%;
    float: left;
    padding-bottom: 129px;
}

.banner_taital[b-z35p30m4lw] {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #ffffff;
    font-weight: bold;
}

.font_size_90[b-z35p30m4lw] {
    font-size: 80px;
}

.banner_text[b-z35p30m4lw] {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin-left: 0px;
}

.taital_main[b-z35p30m4lw] {
    padding-left: 50px;
}

.book_bt[b-z35p30m4lw] {
    width: 170px;
    float: left;
    margin-top: 10px;
}

    .book_bt a[b-z35p30m4lw] {
        width: 100%;
        float: left;
        font-size: 16px;
        color: #ffffff;
        text-align: center;
        background-color: #ffd35a;
        border: 2px solid #ffffff;
        border-radius: 30px;
        padding: 9px 0px;
    }

        .book_bt a:hover[b-z35p30m4lw] {
            background-color: transparent;
            border: 2px solid #ffffff;
        }

.carousel-indicators li[b-z35p30m4lw] {
    width: 18px;
    height: 18px;
    border-radius: 100px;
    background-color: #f9f9fb;
    top: 90px;
}

.carousel-indicators .active[b-z35p30m4lw] {
    background-color: transparent !important;
    border: 2px solid #f9f9fb;
}

.search_section[b-z35p30m4lw] {
    float: left;
}

    .search_section ul[b-z35p30m4lw] {
        margin: 0px;
        padding: 0px;
    }

    .search_section li[b-z35p30m4lw] {
        float: left;
        padding: 0px 15px;
        font-size: 18px;
        color: #ffffff;
    }

        .search_section li a[b-z35p30m4lw] {
            color: #ffffff;
        }

.button_main[b-z35p30m4lw] {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}

.all_text[b-z35p30m4lw] {
    color: #ffffff;
    background-color: #424242;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 18px;
    position: relative;
}

.search_text[b-z35p30m4lw] {
    color: #ffffff;
    background-color: #ffd35a;
    padding: 10px 40px;
    border-radius: 3px;
    font-size: 18px;
}

.Enter_text[b-z35p30m4lw] {
    color: #cbc8c8;
    background-color: #ffffff;
    padding: 10px 40px 10px 20px;
    font-size: 18px;
    width: 60%;
    border: 0px;
    box-shadow: 0px 0px 7px 3px #f3f3f3;
    margin-bottom: 20px;
}

#my_slider a.carousel-control-next[b-z35p30m4lw] {
    position: absolute;
    left: 100px;
    top: 76%;
}

#my_slider .carousel-control-prev[b-z35p30m4lw],
#my_slider .carousel-control-next[b-z35p30m4lw] {
    width: 65px;
    height: 65px;
    background: #464646;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 100%;
}

#my_slider a.carousel-control-prev[b-z35p30m4lw] {
    position: absolute;
    left: 70px;
    top: 62%;
    background-color: #252525;
}

#my_slider .carousel-control-prev[b-z35p30m4lw],
#my_slider .carousel-control-next[b-z35p30m4lw] {
    width: 65px;
    height: 65px;
    background: #ffd35a;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 100%;
}

    #my_slider .carousel-control-prev:hover[b-z35p30m4lw],
    #my_slider .carousel-control-next:hover[b-z35p30m4lw],
    #my_slider .carousel-control-prev:focus[b-z35p30m4lw],
    #my_slider .carousel-control-next:focus[b-z35p30m4lw] {
        background: #ffd35a;
        color: #fff;
    }


.newsletter_section[b-z35p30m4lw] {
    width: 100%;
    float: left;
    background-image: url(../images/newsletter-bg.png);
    height: auto;
    padding-bottom: 90px;
}

.conect_text[b-z35p30m4lw] {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.newsletter_taital[b-z35p30m4lw] {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

.newsletter_text[b-z35p30m4lw] {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-left: 0px;
}

.input-group[b-z35p30m4lw] {
    width: 70%;
    margin: 0 auto;
    border-bottom: 2px solid #ffff;
    padding-bottom: 5px;
    padding-top: 30px;
}

    .input-group > .input-group-append > .btn[b-z35p30m4lw],
    .input-group > .input-group-append > .input-group-text[b-z35p30m4lw],
    .input-group > .input-group-prepend:first-child > .btn:not(:first-child)[b-z35p30m4lw],
    .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child)[b-z35p30m4lw],
    .input-group > .input-group-prepend:not(:first-child) > .btn[b-z35p30m4lw],
    .input-group > .input-group-prepend:not(:first-child) > .input-group-text[b-z35p30m4lw] {
        border-radius: 40px;
    }

.input-group-text[b-z35p30m4lw] {
    padding: 8px 40px;
    font-size: 18px;
    font-weight: 400;
    color: #5d447f;
    text-align: center;
    white-space: nowrap;
    background-color: #ffffff;
    border-bottom: 1px solid #ced4da !important;
    text-transform: uppercase;
    font-weight: bold;
}

.form-control[b-z35p30m4lw] {
    display: block;
    width: 100%;
    padding: .375rem 20px 0px 0px;
    font-size: 18px;
    line-height: 1.5;
    color: #9e6ae4;
    background-color: transparent !important;
    background-clip: padding-box;
    border-bottom: 0 !important;
    border: 0px;
    border-radius: 0px;
    transition: border-color 0s ease-in-out, box-shadow 0s ease-in-out !important;
}

.footer_section[b-z35p30m4lw] {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.dummy_text[b-z35p30m4lw] {
    width: 65%;
    float: left;
    font-size: 16px;
    color: #b6b6b6;
    margin-left: 0px;
}

.information_text[b-z35p30m4lw] {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #fff;
}

.many_text[b-z35p30m4lw] {
    width: 54%;
    float: left;
    font-size: 16px;
    color: #abaaaa;
    margin-left: 0px;
    line-height: 40px;
    margin-top: 0px;
}

.call_text[b-z35p30m4lw] {
    width: 100%;
    float: left;
    color: #b6b6b6;
    font-size: 16px;
    margin: 0px;
    padding-top: 10px;
}

    .call_text a[b-z35p30m4lw] {
        color: #b6b6b6;
    }

.social_icon[b-z35p30m4lw] {
    width: 100%;
    float: left;
}

    .social_icon ul[b-z35p30m4lw] {
        margin: 0px;
        padding: 0px;
    }

    .social_icon li[b-z35p30m4lw] {
        float: left;
        padding: 20px 9px 0px 0px;
    }

.copyright_section[b-z35p30m4lw] {
    width: 100%;
    float: left;
    margin-top: 55px;
    text-align: center;
}

.copyright_text[b-z35p30m4lw] {
    width: 100%;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
    padding: 40px 0px 20px 0px;
}

    .copyright_text a[b-z35p30m4lw] {
        color: #ffffff;
    }

        .copyright_text a:hover[b-z35p30m4lw] {
            color: #878686;
        }

    .copyright_text[b-z35p30m4lw]::after {
        content: '';
        background-color: #ffffff;
        position: absolute;
        width: 600px;
        text-align: center;
        right: 0;
        top: 0px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        height: 1px;
        left: 0;
        border-radius: 100px;
    }

.contact_section[b-z35p30m4lw] {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.touch_taital[b-z35p30m4lw] {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1d1c1c;
    font-weight: bold;
    text-align: center;
}

.contact_section_2[b-z35p30m4lw] {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.email_text[b-z35p30m4lw] {
    width: 100%;
    float: left;
    padding: 20px 20px 20px 20px;
}

.email-bt[b-z35p30m4lw] {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #2a2a2c;
    margin-bottom: 20px;
    padding: 8px 15px;
    border: 1px solid #909090;
}

.massage-bt[b-z35p30m4lw] {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #2a2a2c;
    margin-bottom: 20px;
    padding: 40px 15px 8px 15px;
    border: 1px solid #909090;
    height: 120px;
}

.send_btn[b-z35p30m4lw] {
    width: 170px;
    float: left;
}

    .send_btn a[b-z35p30m4lw] {
        width: 100%;
        float: left;
        text-align: center;
        font-size: 20px;
        color: #ffffff;
        background-color: #bf3d42;
        padding: 10px;
        border-radius: 30px;
    }

.map_main[b-z35p30m4lw] {
    width: 100%;
    float: left;
    padding-top: 20px;
}

.navbar-toggler[b-z35p30m4lw] {
    padding: .25rem 0px;
}

.navbar[b-z35p30m4lw] {
    padding: .5rem 0px;
}




/*Product Section start*/
body[b-z35p30m4lw],
html[b-z35p30m4lw] {
    height: 100%;
}

.d-flex[b-z35p30m4lw] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.align-center[b-z35p30m4lw] {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-centerY-centerX[b-z35p30m4lw] {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

body[b-z35p30m4lw] {
    background-color: #f7f7f7;
}

.page-wrapper[b-z35p30m4lw] {
    height: 100%;
    display: table;
}

    .page-wrapper .page-inner[b-z35p30m4lw] {
        display: table-cell;
        vertical-align: middle;
    }

.el-wrapper[b-z35p30m4lw] {
    width: 360px;
    padding: 15px;
    margin: 15px auto;
    background-color: #fff;
}

@media (max-width: 991px) {
    .el-wrapper[b-z35p30m4lw] {
        width: 345px;
    }
}

@media (max-width: 767px) {
    .el-wrapper[b-z35p30m4lw] {
        width: 290px;
        margin: 30px auto;
    }
}

.el-wrapper:hover .h-bg[b-z35p30m4lw] {
    left: 0px;
}

.el-wrapper:hover .price[b-z35p30m4lw] {
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #818181;
}

.el-wrapper:hover .add-to-cart[b-z35p30m4lw] {
    left: 50%;
}

.el-wrapper:hover .img[b-z35p30m4lw] {
    webkit-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
    opacity: 0.4;
}

.el-wrapper:hover .info-inner[b-z35p30m4lw] {
    bottom: 155px;
}

.el-wrapper:hover .a-size[b-z35p30m4lw] {
    -webkit-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    bottom: 50px;
    opacity: 1;
}

.el-wrapper .box-down[b-z35p30m4lw] {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.el-wrapper .box-up[b-z35p30m4lw] {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.el-wrapper .img[b-z35p30m4lw] {
    padding: 20px 0;
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
}

.h-bg[b-z35p30m4lw] {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    width: 660px;
    height: 100%;
    background-color: #3f96cd;
    position: absolute;
    left: -659px;
}

    .h-bg .h-bg-inner[b-z35p30m4lw] {
        width: 50%;
        height: 100%;
        background-color: #464646;
    }

.info-inner[b-z35p30m4lw] {
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: 25px;
}

    .info-inner .p-name[b-z35p30m4lw],
    .info-inner .p-company[b-z35p30m4lw] {
        display: block;
    }

    .info-inner .p-name[b-z35p30m4lw] {
        font-family: 'PT Sans', sans-serif;
        font-size: 18px;
        color: #252525;
    }

    .info-inner .p-company[b-z35p30m4lw] {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        color: #8c8c8c;
    }

.a-size[b-z35p30m4lw] {
    -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: -20px;
    font-family: 'PT Sans', sans-serif;
    color: #828282;
    opacity: 0;
}

    .a-size .size[b-z35p30m4lw] {
        color: #252525;
    }

.cart[b-z35p30m4lw] {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

    .cart .price[b-z35p30m4lw] {
        -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-delay: 100ms;
        -o-transition-delay: 100ms;
        transition-delay: 100ms;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 16px;
        color: #252525;
    }

    .cart .add-to-cart[b-z35p30m4lw] {
        -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-delay: 100ms;
        -o-transition-delay: 100ms;
        transition-delay: 100ms;
        display: block;
        position: absolute;
        top: 50%;
        left: 110%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

        .cart .add-to-cart .txt[b-z35p30m4lw] {
            font-size: 12px;
            color: #fff;
            letter-spacing: 0.045em;
            text-transform: uppercase;
            white-space: nowrap;
        }


/*End of Product Section*/

.productContainer[b-z35p30m4lw] {
    overflow: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    justify-content:center;
    align-items:center;
}

.whenHover:hover[b-z35p30m4lw]{
    transform:scale(1.1,1.1)
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-w8pgc7gj0s] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-w8pgc7gj0s] {
    flex: 1;
}

.sidebar[b-w8pgc7gj0s] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-w8pgc7gj0s] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-w8pgc7gj0s]  a, .top-row[b-w8pgc7gj0s]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-w8pgc7gj0s]  a:hover, .top-row[b-w8pgc7gj0s]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-w8pgc7gj0s]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-w8pgc7gj0s] {
        display: none;
    }

    .top-row.auth[b-w8pgc7gj0s] {
        justify-content: space-between;
    }

    .top-row[b-w8pgc7gj0s]  a, .top-row[b-w8pgc7gj0s]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-w8pgc7gj0s] {
        flex-direction: row;
    }

    .sidebar[b-w8pgc7gj0s] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-w8pgc7gj0s] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-w8pgc7gj0s]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-w8pgc7gj0s], article[b-w8pgc7gj0s] {
/*        padding-left: 2rem !important;
        padding-right: 1.5rem !important;*/
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-t7lqv7jpr9] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-t7lqv7jpr9] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-t7lqv7jpr9] {
    font-size: 1.1rem;
}

.oi[b-t7lqv7jpr9] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-t7lqv7jpr9] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-t7lqv7jpr9] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-t7lqv7jpr9] {
        padding-bottom: 1rem;
    }

    .nav-item[b-t7lqv7jpr9]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-t7lqv7jpr9]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-t7lqv7jpr9]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-t7lqv7jpr9] {
        display: none;
    }

    .collapse[b-t7lqv7jpr9] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
